.task-content{
	width:600px;margin:0 auto;text-align:center
}

#txttask{
	font-size:20px;
	padding:20px;
}

.task-list{
	margin-top:20px;
	border-radius:3px;
	border:1px solid #ccc;
	padding:10px;
}

.task-list div{
	margin-top:1px;
	padding:15px;
	border-bottom:1px solid #ccc;
	text-align:left;
	font-size:19px;
}

.task-list div:last-child{
	border-bottom:none;
}

.task-list div i{
	cursor: pointer;	
	margin-top:5px;
}

.task-list div i:first-child+i{
	margin-right:6px;
	margin-top:7px;
}